*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

header {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  background-color: white;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header .logo img {
  height: 100%;
  width: 200px;
}
header .header .desktop {
  display: none;
}
header .header .desktop a {
  color: #555555;
  padding: 0 0.5rem;
  font-weight: 300;
}
header .header .burger .menu-box .menu {
  width: 25px;
  height: 5px;
  margin: 5px 0;
  border-radius: 20px;
  background-color: #999999;
}

main .pink {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  position: relative;
  overflow: hidden;
}
main .pink h3 {
  font-size: 12pt;
  padding-bottom: 1.5rem;
  color: #fc3293;
}
main .pink h1 {
  font-size: 30pt;
  padding-bottom: 1.5rem;
  font-weight: bold;
}
main .pink p {
  font-size: 14pt;
  font-weight: 300;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  color: #555555;
}
main .pink .pink-right img {
  height: auto;
  width: 355px;
  position: absolute;
  top: -30px;
  left: 190px;
}
main .pink .pink-left {
  padding-bottom: 3rem;
  padding-right: 5.5rem;
}
main .pink button {
  border: 3px solid transparent;
  cursor: pointer;
  box-shadow: 2px 1000px 1px #fff inset;
  background-image: linear-gradient(101deg, rgb(255, 57, 152), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(255, 57, 152), rgb(255, 57, 57), rgb(255, 129, 57), rgb(57, 255, 160));
  background-origin: border-box;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 14pt;
  font-weight: 500;
}
main .pink button:hover {
  box-shadow: none;
  color: white;
}

main .box .box-body {
  height: 300px;
  width: 100%;
  background: linear-gradient(125deg, #ff3998 5%, #ff3939, #ff8139 50%, #39ffa0 110%);
}
main .box h2 {
  font-weight: 400;
  font-size: 28pt;
  padding: 7rem 1rem 1rem 1.5rem;
}
main .box p {
  font-weight: 400;
  padding: 0.5rem 1rem 1rem 1.5rem;
  font-size: 14pt;
}

.graphic {
  height: 14rem;
  width: 100%;
}
.graphic .img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1.5rem 1rem 1.5rem;
}
.graphic .img-container .picture img {
  width: 140px;
  height: 100%;
}
.graphic .img-container .picture.hidden {
  display: none;
}

.cards-signup .section-container {
  padding: 0.5rem 0 1rem 1.5rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}
.cards-signup .top-box {
  padding-bottom: 4rem;
}
.cards-signup .top-box h2 {
  font-weight: 400;
  font-size: 28pt;
}
.cards-signup .top-box p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 14pt;
  line-height: 1.5;
  color: #555555;
}
.cards-signup .top-box p a {
  color: #555555;
  text-decoration: underline;
}
.cards-signup .top-box .card-flex {
  display: flex;
  gap: 2rem;
  gap: 2.5rem;
  overflow: scroll;
}
.cards-signup .top-box .card-flex .card {
  min-height: 350px;
  min-width: 250px;
  min-height: 400px;
  min-width: 290px;
  border: none;
  border-radius: 20px;
}
.cards-signup .top-box .card-flex .card .card-top {
  height: 236px;
  width: 100%;
  height: 278px;
  width: 290px;
  border: none;
}
.cards-signup .top-box .card-flex .card .card-top img {
  height: auto;
  width: 100%;
}
.cards-signup .top-box .card-flex .card .card-bottom {
  background-color: #eeeeee;
  height: 112px;
  height: 122px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container {
  padding-top: 1rem;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-1 h5 {
  font-size: 9pt;
  display: inline-block;
  color: #ff8139;
  font-weight: 300;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-1 p {
  font-size: 9pt;
  display: inline-block;
  padding: 0;
  color: #555555;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-2 h4 {
  font-size: 12pt;
  font-weight: 500;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-2 .eth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
.cards-signup .top-box .card-flex .card .card-bottom .row-container .row-3 p {
  font-size: 12pt;
  color: #555555;
  padding: 0.5rem 0 0 0;
}
.cards-signup .signup-container {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  position: relative;
  overflow: hidden;
  height: 582px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.cards-signup .signup-container h3 {
  font-size: 12pt;
  padding-bottom: 1.5rem;
  color: #fc3293;
  padding-top: 2rem;
}
.cards-signup .signup-container h1 {
  font-size: 34pt;
  padding-bottom: 2rem;
  font-weight: bold;
  width: 80%;
}
.cards-signup .signup-container p {
  font-size: 14pt;
  font-weight: 300;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  color: #555555;
  width: 75%;
  padding-top: 0.5rem;
}
.cards-signup .signup-container .right-side img {
  height: auto;
  width: 200px;
  position: absolute;
  top: 130px;
  left: 284px;
}
.cards-signup .signup-container .left-side {
  padding-bottom: 3rem;
  padding-right: 5.5rem;
}
.cards-signup .signup-container .left-side .divider {
  border-top: 1px solid rgba(85, 85, 85, 0.2705882353);
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 1;
}
.cards-signup .signup-container button {
  border: 3px solid transparent;
  cursor: pointer;
  box-shadow: 2px 1000px 1px #fff inset;
  background-image: linear-gradient(101deg, rgb(255, 57, 152), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(255, 57, 152), rgb(255, 57, 57), rgb(255, 129, 57), rgb(57, 255, 160));
  background-origin: border-box;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 14pt;
  font-weight: 500;
}
.cards-signup .signup-container button:hover {
  box-shadow: none;
  color: white;
}

footer .footer-top {
  padding: 3rem 1.5rem 3rem 1.5rem;
}
footer .footer-top img {
  width: 170px;
  height: auto;
}
footer .footer-top p {
  padding: 1rem 0 1rem 0;
  font-size: 14pt;
  font-weight: 300;
  color: #555555;
}
footer .footer-top .footer-flex .footer-top {
  padding: 3rem 1.5rem 3rem 1.5rem;
}
footer .footer-top .footer-flex .footer-top img {
  width: 170px;
  height: auto;
}
footer .footer-top .footer-flex .footer-top p {
  padding: 1rem 0 1rem 0;
  font-size: 14pt;
  font-weight: 300;
  color: #555555;
}
footer .footer-top .footer-flex .footer-top .icons-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
footer .footer-top .footer-flex .footer-top .icons-top img {
  width: 20px;
  height: auto;
}

.icons-top .footer-mid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.icons-top .footer-mid img {
  width: 20px;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 6rem 3rem 1.5rem;
}
.icons-top .footer-mid img div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.icons-top .footer-mid img div h2 {
  padding-bottom: 1rem;
  color: #555555;
  font-size: 14pt;
  font-weight: 600;
}
.icons-top .footer-mid img div a {
  color: #555555;
  font-size: 16pt;
  font-weight: 300;
}

.footer-mid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 6rem 3rem 1.5rem;
}

.footer-bottom p {
  font-size: 14pt;
  color: #999999;
  font-weight: 300;
  padding: 2rem 0 4rem 0;
  padding: 2rem 1.5rem 4rem 1.5rem;
}
.footer-bottom div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-bottom div h2 {
  padding-bottom: 1rem;
  color: #555555;
  font-size: 14pt;
  font-weight: 600;
}
.footer-bottom div a {
  color: #555555;
  font-size: 16pt;
  font-weight: 300;
}
.footer-bottom div p.none {
  display: none;
}

@media (min-width: 376px) and (max-width: 532px) {
  main .cards-signup .signup-container h1 {
    width: 284px;
  }
  main .cards-signup .signup-container p {
    width: 202px;
  }
  main .pink .pink-right img {
    height: auto;
    width: 355px;
    position: absolute;
    top: -30px;
    left: 210px;
  }
}
@media (min-width: 532px) and (max-width: 768px) {
  main .cards-signup .signup-container .right-side img {
    left: 404px;
  }
  main .cards-signup .signup-container h1 {
    width: 384px;
  }
  main .cards-signup .signup-container p {
    width: 384px;
  }
  main .pink .pink-left {
    width: 355px;
  }
  main .pink .pink-right img {
    height: auto;
    width: 355px;
    position: absolute;
    top: 10px;
    left: 210px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  main .cards-signup .signup-container .right-side img {
    left: 494px;
  }
  main .cards-signup .signup-container h1 {
    width: 384px;
  }
  main .cards-signup .signup-container p {
    width: 384px;
  }
  main .pink .pink-left {
    width: 355px;
  }
  main .pink .pink-right img {
    height: auto;
    width: 355px;
    position: absolute;
    top: 30px;
    left: 350px;
  }
}
@media (min-width: 376px) and (max-width: 1439px) {
  .cards-signup .signup-container .signup-right {
    display: none;
  }
}
@media (min-width: 1440px) {
  header {
    padding: 3rem 3rem 10rem 3rem;
    padding: 3rem;
  }
  header .header-box {
    align-items: center;
  }
  header .header-box .logo-left img {
    width: 180px;
  }
  header .header-box .a-desktop {
    display: unset;
  }
  header .header-box .burger {
    display: none;
  }
  .cards-signup .signup-container .right-side img {
    left: 884px;
  }
  main .pink {
    padding: 0 0 6rem 3rem;
    position: unset;
    display: flex;
  }
  main .pink h1 {
    font-size: 58pt;
  }
  main .pink .pink-left {
    width: 50%;
    padding: 7rem 0 0 0;
  }
  main .pink .pink-right {
    width: 50%;
  }
  main .pink .pink-right img {
    position: unset;
    width: 550px;
    width: 625px;
    height: 100%;
  }
  .box {
    padding: 0 3rem;
  }
  .box .box-body {
    border-radius: 20px;
  }
  .box .box-body h2 {
    padding: 9rem 1rem 1rem 1.5rem;
  }
  .graphic .img-container {
    justify-content: space-between;
    padding: 6rem 3rem 1rem 3rem;
  }
  .graphic .img-container .picture.hidden {
    display: unset;
  }
}
.cards-signup .section-container {
  padding: 0.5rem 3rem 1rem 3rem;
}
.cards-signup .section-container .cards-signup {
  padding: 0 3rem;
}
.cards-signup .section-container .cards-signup .signup-container {
  height: 450px;
  display: flex;
}
.cards-signup .section-container .cards-signup .signup-container h3 {
  padding: 5rem 0 1rem 0;
  font-size: 10pt;
}
.cards-signup .section-container .cards-signup .signup-container .left-side .divider {
  display: none;
}
.cards-signup .section-container .cards-signup .signup-container .right-side img {
  width: 170px;
  right: 150px;
  top: 64px;
  left: auto;
}
.cards-signup footer .footer-flex {
  display: flex;
  justify-content: space-between;
}
.cards-signup footer .footer-flex .footer-top {
  padding: 6rem 0 3rem 3rem;
}
.cards-signup footer .footer-flex .footer-mid {
  padding: 6rem 3rem 3rem 0;
}
.cards-signup footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.cards-signup footer .footer-bottom p.none {
  display: unset;
}
.cards-signup footer .footer-bottom p {
  padding: 2rem 3rem 4rem 3rem;
}/*# sourceMappingURL=style.css.map */